body {
    background-color: #99cc99;
}

hr {height: 10px; background-color: antiquewhite; border-radius: 10px;}

.steg1 {
    text-align: left;
}

.steg6 {
    text-align: center;
}

.steg1 {
    text-align: center;
}

.steg2 {
    text-align: center;
}

.steg3 {
    text-align: center;
}

.steg4 {
    text-align: center;
}

.steg5 {
    text-align: center;
}



